
.robotContainer{
    height:400px;
    width:500px;
    position: absolute;
    left:60%;
     bottom: 15%;
    
}
.robot{
  
   position: 'absolute';
   left:200px;
   top:-100px;
   width:300px;
         
}